@import "tailwindcss";


@keyframes slideIn {
    from { transform: translateY(-100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* Jika ingin menggunakan kelas custom */
.toast {
    animation: slideIn 0.3s ease-out;
}